<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>&lt;iplace&gt;</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Consolas", monospace;
        }
    </style>
</head>
<body>
    Success! You may now close this window.

    <script>
        window.close();

        setInterval(() => {
            window.close();
        }, 250);
    </script>
</body>
</html>